
<main>
   
       
    <section id="What's Happening">
        <div class="container">          
                    
          <div class="row inner-top-xs reset-xs">
            
            <div class="col-sm-8 inner-top-xs inner-bottom inner-right-xs">
                <div class="col-sm-12 center-block">
                    <div class="video-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.458141818174!2d-80.26081524890992!3d25.755426883559362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b7994a5e1631%3A0x72e2e7a0d0980573!2s1825+Ponce+De+Leon+Blvd+%23147%2C+Coral+Gables%2C+FL+33134!5e0!3m2!1sen!2sca!4v1449773786025" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                        </iframe>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.col -->
            
            <div class="col-md-3 col-sm-6 inner">
                <h4>Miami Offices</h4>         
                    <ul class="contacts">
                        <li><i class="icon-location contact"></i> Suite 147, 1825 Ponce De Leon Blvd, Coral Gables, Florida 33134</li>
                        <li><i class="icon-mobile contact"></i> +1 (305) 934-7787</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:info@fortisg.com">info@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->            
          </div><!-- /.row -->
          
        </div><!-- /.container -->
    </section>

    <section class="light-bg">
        <div class="container">

          <div class="container inner-top-xs inner-bottom">          
                    
          <div class="row inner-top-xs reset-xs">            
            <div class="col-sm-8 inner-top-xs inner-right-xs">
               <div class="col-sm-12 center-block">
                    <div class="video-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.5409031580216!2d6.9870259517096125!3d52.21538997965838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8158b869a38cd%3A0x67391fbc460de36b!2sNiemaate+6%2C+48599+Gronau+(Westfalen)%2C+Germany!5e0!3m2!1sen!2sca!4v1449774905952" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                        </iframe>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.col -->            
           

            <div class="col-md-3 col-sm-6 inner">
               <h4>Europen Headquarters</h4>         
                    <ul class="contacts">
                        <li><i class="icon-location contact"></i> Niemaate 6, D-48599 Gronau, Westfalen, Germany</li>
                        <li><i class="icon-mobile contact"></i> +49(0)25-62 99 24-153</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:ec@fortisg.com">ec@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
                            
          </div><!-- /.row -->
          
        </div><!-- /.container -->
        
      </section>

  </main>
